<aside class="sidebar sidebar--filter">
  <div class="filter-catalog">
    <h2 class="filter-catalog__title" hidden>Параметры фильтра</h2>
    <a class="filter-catalog__clear-all link" href="">Сбросить всё</a>
    <ul class="filter-catalog__list">
      <!-- Filter 1 column values -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>
        <ul class="value-list">
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item"></li>
        </ul>
      </li>

      <!-- Filter 2 column values -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>
        <ul class="value-list">
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
        </ul>
      </li>

      <!-- Filter 3 column values -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>
        <ul class="value-list">
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
        </ul>
      </li>

      <!-- Filter Search + Select values -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>

        <div class="search">
          <input
            class="form-field search__input search__input--filter"
            type="search"
          />
          <button
            class="button search__submit search__submit--prepend"
            type="submit"
          >
            <svg class="icon search__icon" width="11" height="11">
              <use href="./images/icons.svg#search"></use>
            </svg>
          </button>
        </div>

        <select class="filter__select-list" name="search-value-list" size="8">
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
        </select>
      </li>

      <!-- Filter Image-row + Search + Select values -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>

        <ul class="image-card-set image-card-set--row">
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb image-card__thumb--short">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
        </ul>

        <div class="search">
          <input
            class="form-field search__input search__input--filter"
            type="search"
          />
          <button
            class="button search__submit search__submit--prepend"
            type="submit"
          >
            <svg class="icon search__icon" width="11" height="11">
              <use href="./images/icons.svg#search"></use>
            </svg>
          </button>
        </div>
        <select class="filter__select-list" name="search-value-list" size="8">
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
          <option class="value-list__item filter__value" value="">
            Вариант
          </option>
        </select>
      </li>

      <!-- Filter Image-column -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>

        <ul class="image-card-set image-card-set--column">
          <li class="image-card-set__item image-card image-card--horizontal">
            <div class="image-card__thumb image-card__thumb--wide">
              <img
                class="image-card__source"
                src="./images/filter/image_2.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="image-card-set__item image-card image-card--horizontal">
            <div class="image-card__thumb image-card__thumb--wide">
              <img
                class="image-card__source"
                src="./images/filter/image_2.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
        </ul>
      </li>

      <!-- Filter Image-wrap-row -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>

        <ul class="image-card-set image-card-set--wrap-row">
          <li class="image-card-set__item image-card image-card--vertical">
            <div class="image-card__thumb image-card__thumb--meta-column">
              <img
                class="image-card__source"
                src="./images/filter/image_3.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="image-card-set__item image-card image-card--vertical">
            <div class="image-card__thumb image-card__thumb--meta-column">
              <img
                class="image-card__source"
                src="./images/filter/image_3.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="image-card-set__item image-card image-card--vertical">
            <div class="image-card__thumb image-card__thumb--meta-column">
              <img
                class="image-card__source"
                src="./images/filter/image_3.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="image-card-set__item image-card image-card--vertical">
            <div class="image-card__thumb image-card__thumb--meta-column">
              <img
                class="image-card__source"
                src="./images/filter/image_3.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="image-card-set__item image-card image-card--vertical">
            <div class="image-card__thumb image-card__thumb--meta-column">
              <img
                class="image-card__source"
                src="./images/filter/image_3.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="image-card-set__item image-card image-card--vertical">
            <div class="image-card__thumb image-card__thumb--meta-column">
              <img
                class="image-card__source"
                src="./images/filter/image_3.png"
                alt="Filter image"
              />
            </div>
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
        </ul>
      </li>

      <!-- Filter 2 column values -->
      <li class="filter-catalog__item filter">
        <h3 class="filter__attr">Заглавие</h3>
        <ul class="image-card-set image-card-set--row">
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb image-card__thumb--short">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
          <li class="image-card-set__item image-card">
            <div class="image-card__thumb">
              <img
                class="image-card__source"
                src="./images/filter/image_1.png"
                alt="Filter image"
              />
            </div>
          </li>
        </ul>
        <ul class="value-list">
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>

          <li class="value-list__item">
            <label class="button filter__value"
              >Вариант
              <input
                class="filter__radio visually-hidden"
                type="radio"
                name="value-list-1"
                value="Вариант"
              />
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
