<aside class="sidebar sidebar--category-tree">
  <div class="tree">
    <h2 class="tree__title">Виберіть категорію</h2>
    <ul class="tree-list">
      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Промислова фурнітура</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Шліфовка та поліровка</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Електрика та освітлення</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Виробничий інструмент</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link tree-list__link--current" href=""
          >Кріплення та з'єднання</a
        >
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Фільтрування</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Промислові меблі</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Ручний інструмент</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Опалення та охолодження</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Смазка</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Складская техника</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Измерительный инструмент</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Сантехника и уборка</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Элементы трансмиссии</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Давление и температура</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Подъёмное оборудование</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Промышленные материалы</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Средства защиты</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Промислова фурнітура</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Шліфовка та поліровка</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Електрика та освітлення</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Виробничий інструмент</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Кріплення та з'єднання</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Фільтрування</a>
      </li>

      <li class="tree-list__item">
        <a class="link tree-list__link" href="">Промислові меблі</a>
      </li>
    </ul>
  </div>
</aside>
