.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $page-footer-height;

    padding-left: 15px;
    padding-right: 40px;

    border-top: 1px solid $primary-border-color;
    background-color: $secondary-bg-color;

    display: flex;
    align-items: center;
}

.footer-nav__list {
    display: flex;
    align-items: center;
}

.footer-nav__item {
    display: flex;
    align-items: center;

    &::after {
        margin-left: 15px;
        content: '';
        width: 1px;
        height: 15px;
        background-color: $primary-border-color;
    }

    @include set-item-margins (right, 12px);
}



.footer-nav__link {
    display: block;
    color: $secondary-text-color;
}

.footer__agreement {
    margin-left: auto;
}